<h1>{{modoEdicion ? 'Editar' : 'Agregar'}} Empleado</h1>

<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>
    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('nombre').touched || formGroup.get('nombre').dirty) && !formGroup.get('nombre').valid }">
      <label class="col-md-2 control-label"
             for="nombreId">Nombre</label>

      <div class="col-md-8">
        <input class="form-control"
               id="nombreId"
               type="text"
               required
               formControlName="nombre" />
        <span class="help-block alert-danger" *ngIf="(formGroup.get('nombre').touched || formGroup.get('nombre').dirty) && formGroup.get('nombre').errors">
          <span *ngIf="formGroup.get('nombre').errors.required">
            El campo nombre es requerido
          </span>
        </span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('apellidos').touched || formGroup.get('apellidos').dirty) && !formGroup.get('apellidos').valid }">
      <label class="col-md-2 control-label"
             for="apellidosId">Apellidos</label>

      <div class="col-md-8">
        <input class="form-control"
               id="apellidosId"
               type="text"
               required
               formControlName="apellidos" />
        <span class="help-block alert-danger" *ngIf="(formGroup.get('apellidos').touched || formGroup.get('apellidos').dirty) && formGroup.get('apellidos').errors">
          <span *ngIf="formGroup.get('apellidos').errors.required">
            El campo apellidos es requerido
          </span>
        </span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('cargo').touched || formGroup.get('cargo').dirty) && !formGroup.get('cargo').valid }">
      <label class="col-md-2 control-label"
             for="cargoId">Cargo</label>

      <div class="col-md-8">
        <input class="form-control"
               id="cargoId"
               type="text"
               formControlName="cargo" />
        <span class="help-block alert-danger" *ngIf="(formGroup.get('cargo').touched || formGroup.get('cargo').dirty) && formGroup.get('cargo').errors">
          <span *ngIf="formGroup.get('cargo').errors.required">
            El campo cargo es requerido
          </span>
        </span>
      </div>
    </div>

    <div class="form-group"
         [ngClass]="{'has-error': (formGroup.get('sueldo').touched || formGroup.get('sueldo').dirty) && !formGroup.get('sueldo').valid }">
      <label class="col-md-2 control-label"
             for="sueldoId">Sueldo</label>

      <div class="col-md-8">
        <input class="form-control"
               id="sueldoId"
               type="number"
               formControlName="sueldo" />
        <span class="help-block alert-danger" *ngIf="(formGroup.get('sueldo').touched || formGroup.get('sueldo').dirty) && formGroup.get('sueldo').errors">
          <span *ngIf="formGroup.get('sueldo').errors.required">
            El campo sueldo es requerido
          </span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-primary mr-1"
                  type="submit"
                  [disabled]="!formGroup.valid">
            Salvar
          </button>
          <button class="btn mr-1"
                  type="button"
                  [routerLink]='["/empleados"]'>
            Cancelar
          </button>
        </span>

      </div>

    </div>

  </fieldset>
</form>
